<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QR.WPF.Properties.WindowCommonConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QR.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QR.WPF.Properties.WindowCommonConfig>
            <setting name="SearchWindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="SearchWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="GridWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="GridWindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="TableWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="TableWindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
        </QR.WPF.Properties.WindowCommonConfig>
        <QR.WPF.Properties.Settings>
            <setting name="StartWithTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchWindow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
        </QR.WPF.Properties.Settings>
    </userSettings>
</configuration>